* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(231, 230, 231);
}


h1 {
    margin: 20px;
    display: inline-block;
    font-weight: 900;
}

button {
    width: 60px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.text-input {
    width: 200px;
    height: 30px;
    margin-left: 1000px;
    margin-top: 20px;
}

.container {
    margin: 20px auto;
    border: 1px solid rgb(153, 151, 151);
    width: 900px;
    height: 500px;
}

.list-container {
    display: flex;
}

#item-checkbox {
    display: block;
    margin: 45px 5px 0px 20px;
    width: 15px;
    height: 15px;
    size: 40px;
}

#item-checkbox:checked + p {
    text-decoration: line-through;
}

.list-p {
    display: flex;
    font-size: 30px;
    margin: 20px 0 0px 10px;
    text-indent: 20%;
    background-color: orange;
    height: 70px;
    width: 93%;
    align-items: center;
    border-radius: 25px;
}

.del-img {
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    margin: 40px 0 0px 845px;
}